
// Mixins file for snapcam app

// Mixin for general interaction buttons

@mixin clickButton(
      $border-radius: 0,
      $padding: 1rem,
      $color: #fff,
      $background-color: #111,
      $bg-hover-color: #a00
    )
{
  display: block;
  border: none;
  border-radius: $border-radius;
  padding: $padding;
  color: $color;
  background-color: $background-color;  
  transition-duration: .4s;
  cursor: pointer;
  box-shadow: 1px 2px 1px transparentize($black, .8),
							-1px -1px 1px transparentize($black, .7);
  @media not all and (hover: none) {
    &:hover {	background-color: $bg-hover-color;	}
  }
}
