
/*	Main styles file for Snapcam app. We'll use BEM methodology for
 *	modular css. We'll use the 'b' namespace for BEM block elements.
 */

// Importings assets

@import 'fonts',
				'colors',
				'animations',
				'filters',
				'utilities';

// Initial styles for body

.b-body {
	width: 100vw;
	min-height: 100vh;
	overflow-x: hidden;
  background-color: $white;  // Fallback color
}

// Styles for main page header

.b-header {
	padding: 2rem 1rem;
	box-shadow: 0 1px 3px transparentize($black, .8);
	@media (min-width: 768px) { padding-left: 4rem; }
	&__title {
		font: {
			family: $titleFont;
			size: 3rem;
		}
		text-align: center;
		color: darken($blue, 30%);
		@media (min-width: 768px) { text-align: left; }
	}
}

// Adjusting main content padding

.b-main { padding-top: 10vh; }

// Video box styles

.b-video-box {
	display: flex;
	flex-flow: column nowrap;
	align-items: center;	
	// Setting video width and max-width
	&__video {		
		display: block;
		width: 100%;
		max-width: 25rem;
		margin-bottom: 1rem;
		box-shadow: 1px 2px 2px transparentize($black, .8),
						 	 -1px -2px 2px transparentize($black, .8);		
		@media (min-width: 768px) {
			max-width: 35rem;
			margin-bottom: 1.5rem;
			@media (min-width: 1300px) {
				max-width: 45rem;
				margin-bottom: 2rem;
			}
		}
	}
}

// Styles for effects examples container

.b-effects-container {
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	max-width: 90vw;
	overflow-x: auto;
	padding: .5rem;
	background-color: darken($white, 2%);
	box-shadow:  1px 2px 2px transparentize($black, .8),
						 	 -1px -2px 2px transparentize($black, .8);
  @media (min-width: 768px) {
  	max-width: 70vw;
  	padding: 1rem;
  	@media (min-width: 992px) {
  		max-width: 90vw;
  		padding: 1.2rem;
  	}
  }
}

// Styles for effects example boxes

.b-effects-example-button {
	position: relative;  // Creating a positioning context
	&:not(:last-child) { margin-right: 1.5rem; }
	border: none;
	background-color: transparent;
	cursor: pointer;
	&__img {
		position: relative;
		z-index: 10;
		display: block;
		width: 5rem;
		@media (min-width: 768px) {
			width: 6rem;
			@media (min-width: 992px) { width: 7.5rem; }
		}
	}
	&__label {
		position: absolute;
		z-index: 20;
		left: 0;
		bottom: 0;
		display: block;
		width: 100%;
		border: none;
		padding: .4rem;
		font: {
			family: $titleFont;
			size: .9rem;
		}
		text: {
			align: center;
			transform: uppercase;
		}
		color: $white;
		transition-duration: .4s;
		&--inactive { background-color: darken($red, 10%); }
		&--active { background-color: darken($blue, 10%); }
		@media (min-width: 768px) {
			font-size: 1.1rem;
			@media (min-width: 992px) { font-size: 1.2rem; }
		}
	}
}
