
/*	Main styles file for Snapcam app. We'll use BEM methodology for
 *	modular css. We'll use the 'b' namespace for BEM block elements.
 */

// Importings assets

@import 'fonts',
				'colors',
				'animations',
				'mixins',
				'filters',
				'utilities';

// Initial styles for body

.b-body {
	position: relative;
	width: 100vw;
	min-height: 100vh;
	overflow-x: hidden;
  background-color: $white;  // Fallback color
}

// Styles for main page header

.b-header {
	padding: 2rem 1rem;
	box-shadow: 0 1px 3px transparentize($black, .8);
	@media (min-width: 768px) { padding-left: 4rem; }
	&__title {
		font: {
			family: $titleFont;
			size: 3rem;
		}
		text-align: center;
		color: darken($blue, 30%);
		@media (min-width: 768px) { text-align: left; }
	}
}

// Adjusting main content padding

.b-main {
	padding: {
		top: 10vh;
		bottom: 10vh;
	}
}

// Video box styles

.b-video-box {
	position: relative;  // Reference positioning context
	display: flex;
	flex-flow: column nowrap;
	align-items: center;
	// Setting video width and max-width
	&__video {
		display: block;
		width: 100%;
		max-width: 25rem;
		margin-bottom: 1rem;
		box-shadow: 1px 2px 2px transparentize($black, .8),
						 	 -1px -2px 2px transparentize($black, .8);
		@media (min-width: 768px) {
			max-width: 35rem;
			margin-bottom: 1.5rem;
			@media (min-width: 1300px) {
				max-width: 45rem;
				margin-bottom: 2rem;
			}
		}
	}
}

// Styles for effects examples container

.b-effects-container {
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	width: 90vw;
	overflow-x: auto;
	margin-bottom: 1rem;
	padding: .5rem;
	background-color: darken($white, 2%);
	box-shadow:  1px 2px 2px transparentize($black, .8),
						 	 -1px -2px 2px transparentize($black, .8);
  @media (min-width: 768px) {
  	width: 70vw;
		margin-bottom: 1.5rem;
  	padding: 1rem;
  	@media (min-width: 992px) {
  		width: 90vw;
			max-width: 80rem;
			margin-bottom: 2rem;
  		padding: 1.2rem;
  	}
  }
}

// Styles for effects example boxes

.b-effects-example-button {
	position: relative;  // Creating a positioning context
	margin: {
		right: .75rem;
		left: .75rem;
	}
	border: none;
	background-color: transparent;
	cursor: pointer;
	transition-duration: .4s;
	@media (min-width: 992px) {
		&:hover {
			box-shadow: 1px 2px 2px transparentize($black, .5);
		}
	}
	&__img {
		position: relative;
		z-index: 10;
		display: block;
		width: 100%;
	}
	&__label {
		position: absolute;
		z-index: 20;
		left: 0;
		bottom: 0;
		display: block;
		width: 100%;
		border: none;
		padding: .4rem;
		line-height: 1rem;
		font: {
			family: $titleFont;
			size: .9rem;
		}
		text: {
			align: center;
			transform: uppercase;
		}
		color: $white;
		transition-duration: .4s;
		&--inactive { background-color: darken($red, 10%); }
		&--active { background-color: darken($blue, 10%); }
		@media (min-width: 768px) {
			line-height: 1.3rem;
			font-size: 1.1rem;
			@media (min-width: 992px) { font-size: 1.2rem; }
		}
	}
}

// Styles for snapshot button

.b-snapshot-button {
	@include clickButton(0, .8rem 1rem, $white, $blue, $red);
	font: {
		family: $titleFont;
		size: 1.2rem;
	}
	@media (min-width: 768px) {
		padding: .9rem 1.1rem;
		font-size: 1.3rem;
		@media (min-width: 992px) {
			padding: 1rem 1.2rem;
			font-size: 1.4rem;
		}
	}
}

// Styles for pictures menu button

.b-pictures-menu-button {
	@include clickButton(50%, 1rem, $white, $blue, $red);
	position: fixed;
	z-index: 300;
	right: 5vw;
	bottom: 5vh;
	font-size: 1.5rem;
	&--close-padded {	padding: .6rem .9rem; }
}

// Styles for pictures navigation block

.b-pictures-nav {
	position: fixed;
	z-index: 200;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	transform: translate(100vw, 0);
	&--hidden { display: none; }
	// Overlay for pictures nav
	&__overlay {
		position: absolute;
		z-index: 100;
		top: 0;
		left: 0;
		width: 100vw;
		height: 100vh;
		background: transparentize($black, .3);
		&--hidden { display: none; }
	}
}

// Setting styles for pictures block

.b-pictures-block {
	position: absolute;
	top: 0;
	right: 0;
	z-index: 200;
	display: flex;
	flex-flow: column nowrap;
	align-items: center;
	width: 100%;
	height: 100vh;
	overflow-y: auto;
	padding-top: 15vh;
	background-color: $black;
	// Adjusting widths based on viewports
	@media (min-width: 576px) {
		width: 60%;
		@media (min-width: 768px) {
			width: 45%;
			@media (min-width: 992px) { width: 30%; }
		}
	}
}

// Styles for message container block

.b-message-container {
	position: fixed;
	z-index: 300;
	top: 5vh;
	right: 7.5vw;
	width: 85vw;
	max-width: 30rem;
	@media (min-width: 992px) {
		top: auto;
		right: auto;
		left: 7.5vw;
		bottom: 5vh;
	}
}

// Styles for message box

.b-message-box {
	padding: 2rem 1.5rem;
	color: $white;
	background-color: $black;
	box-shadow:  1px 2px 1px transparentize($black, .2),
						 	 -1px -2px 1px transparentize($black, .2);
	transition-duration: .35s;
	&:not(:last-child) { margin-bottom: 1.5rem; }
	&__title {
		font: {
			family: $titleFont;
			size: 2rem;
		}
		text-transform: capitalize;
	}
	&__text {
		margin-top: 2rem;
		font-family: $textFont;
	}
}
